:root {
  /*? https://tailwindcss.com/docs/customizing-colors */

  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;

  --red: #dc2626;
  --orange: #f97316;

  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
}

*,
*::before {
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Sora", "sans-serif";

  color: var(--primary-text);
  background-color: var(--background);

  /* Text */
  --primary-text: var(--zinc-900);

  /* Background */
  --background: var(--zinc-100);
  --element-background: var(--zinc-50);
  --button-background: var(--zinc-200);
  --button-hover: var(--zinc-300);
  --generate-hover: var(--zinc-800);
}

body.dark {
  /* Text */
  --primary-text: var(--zinc-100);

  /* Backgrounds */
  --background: var(--zinc-900);
  --element-background: var(--zinc-950);
  --button-background: var(--zinc-900);
  --button-hover: var(--zinc-800);
  --generate-hover: var(--zinc-300);
}

button {
  font-family: inherit;
  font-size: 14px;
  background: var(--button-background);
  color: var(--primary-text);
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--button-hover);
}

input {
  font-family: inherit;
  font-size: 16px;
  background: var(--element-background);
  color: var(--primary-text);
  border: none;
  border-radius: 6px;
  transition-property: all;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 14px;
  color: var(--zinc-400);
}
